@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@font-face {
    font-family: 'Galano';
    src: url('../assets/fonts/GalanoGrotesqueMedium.otf') format('truetype');
}

@font-face {
    font-family: 'Galano-Bold';
    src: url('../assets/fonts/GalanoGrotesqueBold.otf') format('truetype');
}
@font-face {
    font-family: 'Galano-Regular';
    src: url('../assets//fonts/GalanoGrotesqueRegular.otf') format('truetype');
}

@font-face {
    font-family: 'Galano-SemiBold';
    src: url('../assets//fonts/GalanoGrotesqueSemiBold.otf') format('truetype');
}

@font-face {
    font-family: 'WFVisualSans';
    src: url('../assets//fonts/WFVisualSans-RegularText.otf') format('truetype');
}

@font-face {
    font-family: 'WFVisualSans-Medium';
    src: url('../assets//fonts/WFVisualSans-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'WFVisualSans-SemiBold';
    src: url('../assets//fonts/GalanoGrotesqueSemiBold.otf') format('truetype');
}