::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--neutral-100);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
    border: 2px solid var(--neutral-100);

    &:hover {
        background: var(--primary-dark);
    }
}