.custom-popup {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-confirm-button {
    background-color: var(--primary) !important;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1rem;
    outline: none !important;
    box-shadow: none !important;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--primary-hover) !important;
    }
}

.custom-cancel-button {
    background-color: var(--danger) !important;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1rem;
    outline: none !important;
    box-shadow: none !important;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--danger-hover) !important;
    }
}