:host {
    display: block;
}

.dropdown-list {
    z-index: 20;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 0.375rem;
    border: 1px solid #e5e7eb;
}

input {
    height: auto !important;
    padding: 0.5rem !important;
    font-size: 0.875rem;

    &:focus {
        border-color: #EC9253;
        box-shadow: 0 0 0 2px rgba(236, 146, 83, 0.3);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #F3F4F6;
    }
}

.relative {
    position: relative;
}

.service-info {
    background-color: #F9FAFB;
    border-radius: 0.375rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;

    .info-row {
        display: flex;
        margin-bottom: 0.25rem;

        .label {
            font-weight: 500;
            margin-right: 0.5rem;
        }
    }
}