.toast-wrapper {
  position: fixed;
  top: 25px;
  right: 30px;
  z-index: 9999;
  pointer-events: none;
}

.toast {
  position: relative;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  pointer-events: auto;

  &.active {
    transform: translateX(0%);
  }

  .toast-content {
    display: flex;
    align-items: center;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    min-width: 35px;
    border-radius: 50%;

    .toast-icon {
      width: 16px;
      height: 16px;
      filter: brightness(0) invert(1);
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;

    &.text-1 {
      font-weight: 600;
      color: #333;
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;

    .close-icon {
      width: 16px;
      height: 16px;
      filter: brightness(0);
    }

    &:hover {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    &.active:before {
      animation: progress 5s linear forwards;
    }
  }
}

.toast.success {
  .icon-container.success {
    background-color: #4CAF50;
  }

  .progress:before {
    background-color: #4CAF50;
  }
}

.toast.error {
  .icon-container.error {
    background-color: #F44336;
  }

  .progress:before {
    background-color: #F44336;
  }
}

.toast.warning {
  .icon-container.warning {
    background-color: #FFC107;
  }

  .progress:before {
    background-color: #FFC107;
  }
}

.toast.info {
  .icon-container.info {
    background-color: #2196F3;
  }

  .progress:before {
    background-color: #2196F3;
  }
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.toast+.toast {
  margin-top: 20px;
}