:host {
    display: block;
}

.dropdown-list {
    z-index: 50;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 0.375rem;
    border: 1px solid #e5e7eb;
}

input {
    padding: 0.5rem !important;
    font-size: 0.875rem;
    color: #111827 !important;
    &::placeholder {
        color: #9ca3af;
    }

    &:focus {
        border-color: #EC9253;
        box-shadow: 0 0 0 2px rgba(236, 146, 83, 0.3);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #F3F4F6;
    }
}

input,
input * {
    color: #111827 !important;
}